h1{
    
    color: green;
}
div{
    margin-top: 50px;
   
    width: 200px;
    height: 200px;
    background-color: yellow;
    padding: 20px;
}
div:active{
    background-color: rgb(163, 66, 66);
}